.Footer{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: #161619;
    height: 64px;
}

.Footer > img{
    width: 25px;
    height: 25px;
    margin: 5px;
}